<div class="col-lg-4 well text-center">
	<%= reward.title %>
	<%= reward.description %><br>
	<p>$<%= reward.amount %></p>
	<span class="pledge-button"><%= render 'pledges/pledges', :reward => reward %></span>
</div>