<div class="col-lg-6 text-center">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4><%= reward.title %></h4>
		</div>
		<div class="panel-body">
			<%= reward.description %>
			<p>Pledge: $<%= reward.amount %></p>
		</div>
		<span class="pledge-button"><%= render 'pledges/pledges', :reward => reward %></span><br>
	</div>
</div>