<div class="col-lg-4 well text-center">
	<%= reward.title %>
	<%= reward.description %>
	<%= reward.amount %>
	<span class="pledge-button"><%= render 'pledges/pledges', :reward => reward %></span>
</div>