<div class="nested-fields">
  <div>
  <%= f.text_field :title, placeholder: "Title" %>
  </div><br>

  <div>
    <%= f.text_area :description, placeholder: "Description" %>
  </div><br>

  <div>
    <%= f.text_field :amount, placeholder: "Amount" %>
  </div><br>

  
</div>