<h1 style="text-align:center;">All Projects</h1>

<% @project.each do |p| %>
	<div class="thumbnail col-lg-4 text-center">
		<h4><u>Name:</u> <%= p.name %></h4>
		<p><u>Description:</u> <%= p.description %></p>
	</div>
<% end %>