
<div class="text-center">
	<h1>Details Page</h1>
	<h2><%= @project.name %></h2>
	<p><%= @project.description %></p>
<<<<<<< HEAD
  <!-- YYYYYAAAAYYYY Warren in da building -->
=======
	<p><%= render @project.rewards %></p>
>>>>>>> 44a2d47ef3405d6d0561cdc13cd6c731f2756a72
</div>